<div class="directive">
	<div class="form-input-section">
		<div class="form-input unsafe-form-input">
			<select class="form-element-required" ng-model="listA1" ng-change="changeA('A1', listA1, listA1)" >
				<option ng-repeat="name in list">{{name.name}}</option>
			</select>
			<div class="route-debug">Name: listA1 <br> Value: {{listA1}}</div>
		</div>
	</div>
	<div class="form-radio-container form-radio-container-long">
		<div class="form-input form-radio-button-input" ng-repeat="ac in list" ng-if="ac.name === listA1">
			<div class="form-input" ng-repeat="check in ac.prop">
				<div class="form-radio-buttons-container">
					<div class="form-radio-button">
						<input type="checkbox" ng-model="$parent.listA21[$index][1]" ng-click="changeA2('A2', check.checkName, $parent.listA21[$index][1], $index)" class="form-radio-buttons" name="{{check.checkName}}" />
						<div class="form-radio-check"></div>
					</div>
					<div class="form-radio-label">
						{{check.checkName}}
					</div>
					<div class="route-debug">Name: listA21 <br> Value: {{listA21}}</div>
				</div>
			</div>
		</div>
	</div>
</div>