<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" translate="home.routes.somethingSafe.title"></h1>
				<safe-3></safe-3>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/safe/2" translate="global.buttons.backButton"></a>
					</div>
					<safe-validation></safe-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>