<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="profile-content" class="form-content">
				<h1>
						Log In
				</h1>
				<div class="profile-input-section">
					<div class="profile-input-label">
						Username
					</div>
					<div class="form-input">
						<input type="text"/>
					</div>
				</div>
				<div class="profile-input-section">
					<div class="profile-input-label">
						Password
					</div>
					<div class="form-input unsafe-form-input">
						<input type="password"/>
					</div>
				</div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="blue-button">
						<a href="/preloader.html">Log In</a>
					</div>
				</div>
				<div id="home-page-bottom">
					<div class="home-page-bottom-links">
						Not a member?
						<a href="">
							Register here
						</a>
					</div>
					<div class="home-page-bottom-links">
						Forgot your password?
						<a href="">
							Click here
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>