$font-size:        12px;
$modx-gray:        #e2e2e2;
$modx-blue-text:   #546c89;
$modx-light-blue:  #e8f0f9;
$panel-height:     585px;
$white:            #fff;
$success_color:    #42a900;
$warning_color:    #ff9900;
$error_color:      #e00;
$primary-color: #004b8d;
$secondary-color: #939598;
$main-background-color:#fff;
$primary-font: 'Montserrat', Helvetica, Arial, sans-serif;
$heading-font: 'Montserrat', Helvetica, Arial, sans-serif;
$base-font-size:12pt;