<div class="container">
  <div class="row">
		<div class="col-md-12">
			<div id="home-content">
			  <h1 translate="global.tour.title"></h1>
				<div class="home-buttons-container">
					<div class="home-buttons-row">
						<div id="home-unsafe-act-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('unsafe-act')" id="red-button">
								<div class="home-buttons-text" translate="home.routes.unsafeAct.title"></div>
							</a>
						</div>
						<div id="home-unsafe-condition-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('unsafe-condition')" id="red-button">
								<div class="home-buttons-text" translate="home.routes.unsafeCondition.title"></div>
							</a>
						</div>
						<div id="home-near-miss-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('near-miss')" id="blue-button">
								<div class="home-buttons-text" translate="home.routes.nearMiss.title"></div>
							</a>
						</div>
					</div>
					<div class="home-buttons-row">
						<div id="home-safe-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('safe')" id="green-button">
								<div class="home-buttons-text" translate="home.routes.somethingSafe.title"></div>
							</a>
						</div>
						<div id="home-improvement-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('improvement')" id="purple-button">
								<div class="home-buttons-text large-text" translate="home.routes.opportunityForImprovement.title"></div>
							</a>
						</div>
						<div id="home-safety-audit-button" class="home-buttons tour-buttons">
							<a ng-click="startTour('safety-audit')" id="blue-button">
								<div class="home-buttons-text large-text" translate="home.routes.safetyAudit.title"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>