<div class="container">
  <div class="row">
		<div class="col-md-12">
			<div id="home-content">
			  <h1 translate="home.title"></h1>
				<div class="home-buttons-container">
					<div class="home-buttons-row">
						<div id="home-unsafe-act-button" class="home-buttons">
							<a href="/#/unsafe-act/1" ng-click="homeClick('unsafe-act', 'unsafeact')" id="red-button">
								<div class="home-buttons-text" translate="home.routes.unsafeAct.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.unsafeAct.tooltip"></div>
							</div>
						</div>
						<div id="home-unsafe-condition-button" class="home-buttons">
							<a href="/#/unsafe-condition/1" ng-click="homeClick('unsafe-condition', 'unsafecondition')" id="red-button">
								<div class="home-buttons-text" translate="home.routes.unsafeCondition.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.unsafeCondition.tooltip"></div>
							</div>
						</div>
						<div id="home-near-miss-button" class="home-buttons">
							<a href="/#/near-miss/1" ng-click="homeClick('near-miss', 'nearmiss')"  id="blue-button">
								<div class="home-buttons-text" translate="home.routes.nearMiss.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.nearMiss.tooltip"></div>
							</div>
						</div>
					</div>
					<div class="home-buttons-row">
						<div id="home-safe-button" class="home-buttons">
							<a href="/#/safe/1" ng-click="homeClick('safe', 'safe')" id="green-button">
								<div class="home-buttons-text" translate="home.routes.somethingSafe.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.somethingSafe.tooltip"></div>
							</div>
						</div>
						<div id="home-improvement-button" class="home-buttons">
							<a href="/#/improvement/1" ng-click="homeClick('improvement', 'opportunityforimprovement')" id="purple-button">
								<div class="home-buttons-text large-text" translate="home.routes.opportunityForImprovement.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.opportunityForImprovement.tooltip"></div>
							</div>
						</div>
						<div id="home-safety-audit-button" class="home-buttons">
							<a href="/#/safety-audit/1" ng-click="homeClick('safety-audit', 'safetyaudit')" id="blue-button">
								<div class="home-buttons-text large-text" translate="home.routes.safetyAudit.title"></div>
							</a>
							<div class="tooltip-container">?
								<div class="tooltip" translate="home.routes.safetyAudit.tooltip"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
<tour></tour>