<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" translate="home.routes.safetyAudit.title"></h1>
				<safety-a-2></safety-a-2>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/safety-audit/1" translate="global.buttons.backButton"></a>
					</div>
					<safety-a-validation></safety-a-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>