<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" translate="home.routes.nearMiss.title"></h1>
				<near-m-2></near-m-2>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/near-miss/1" translate="global.buttons.backButton"></a>
					</div>
					<near-m-validation></near-m-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>