<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" translate="home.routes.opportunityForImprovement.title"></h1>
				<div class="form-input-label">
					<span translate="opportunityForImprovement.page2.title"></span><span class="form-required">*</span>
				</div>
				<improvement-2></improvement-2>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/improvement/1" translate="global.buttons.backButton"></a>
					</div>
					<improvement-validation></improvement-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>