<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" translate="home.routes.opportunityForImprovement.title"></h1>
				<improvement-3></improvement-3>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/improvement/2" translate="global.buttons.backButton"></a>
					</div>
					<improvement-validation></improvement-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>