<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" class="form-heading" translate="home.routes.unsafeAct.title"></h1>
				<div class="form-input-label">
					<span translate="unsafeAct.page2.title"></span><span class="form-required">*</span><span class="select-all" translate="global.messages.selectAll"></span>
				</div>
				<unsafe-a-2></unsafe-a-2>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/unsafe-act/1" translate="global.buttons.backButton"></a>
					</div>
					<unsafe-a-validation></unsafe-a-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>