<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-content">
				<h1 id="form-heading" class="form-heading" translate="home.routes.unsafeAct.title"></h1>
				<unsafe-a-3></unsafe-a-3>
				<div id="errors" class="errors-container"></div>
				<div class="dover-buttons-section">
					<div class="dover-buttons" id="red-button">
						<a href="/#/unsafe-act/2" translate="global.buttons.backButton"></a>
					</div>
					<unsafe-a-validation></unsafe-a-validation>
				</div>
			</div>
		</div>
	</div>
</div>
<tour></tour>